In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import postgres_password

In [2]:
# Connect to database
database_url = f"postgresql://postgres:{postgres_password}@localhost:5432/AU_tourism"
engine = create_engine(database_url)

## Table: AUBornCountry

In [3]:
# Scraping data from website to get population by country-of-birth
url = "https://www.abs.gov.au/statistics/people/population/australias-population-country-birth/2021"
tables = pd.read_html(url)

# the 1st table is of interest
population_df = tables[1]
population_df.columns = ["_".join(col) for col in population_df.columns.values]
population_df.rename(columns={"Unnamed: 0_level_0_Country of birth(b)":"countryname",
                                  "2021_'000":"population_2021_thousands",
                                  "Unnamed: 4_level_0_%(c)":"population_2021_percentage"},inplace=True)
population = population_df[["countryname","population_2021_thousands","population_2021_percentage"]].iloc[:20] 

population

     countryname  population_2021_thousands  population_2021_percentage
0        England                     967.39                         3.8
1          India                     710.38                         2.8
2       China(d)                     595.63                         2.3
3    New Zealand                     559.98                         2.2
4    Philippines                     310.62                         1.2
5        Vietnam                     268.17                         1.0
6   South Africa                     201.93                         0.8
7       Malaysia                     172.25                         0.7
8          Italy                     171.52                         0.7
9      Sri Lanka                     145.79                         0.6
10      Scotland                     130.06                         0.5
11         Nepal                     129.87                         0.5
12           USA                     109.45                         0.4
13       Germany                     107.94                         0.4
14   South Korea                     106.56                         0.4
15     Hong Kong                     104.99                         0.4
16        Greece                     100.65                         0.4
17          Iraq                      99.36                         0.4
18       Lebanon                      96.42                         0.4
19      Pakistan                      95.98                         0.4

In [4]:
print(population.dtypes)

countryname                    object
population_2021_thousands     float64
population_2021_percentage    float64
dtype: object

In [5]:
# Load it into database
population.to_sql(name="auborncountry", con=engine,if_exists="append",index=False)

## Table: CountryOrigin

In [6]:
# load the survey data
path_int = "../Resource/International_survey.xlsx"
in_visitor_df = pd.read_excel(path_int,sheet_name=0,skiprows=3,header=[0,1])

# Data cleaning to get Internation of visitors inbound by Country: 
in_visitor_df = in_visitor_df.iloc[:23]
in_visitor_df.columns = ["_".join(col) for col in in_visitor_df.columns.values]
in_visitor_df.rename(columns={"Country of_residence":"countryname",
                              "Visitors_Year ending March 2022":"visitor_est_in_2022_thousands"},inplace=True)
in_visitor = in_visitor_df[["countryname","visitor_est_in_2022_thousands"]]
in_visitor["visitor_est_in_2022_thousands"] = in_visitor["visitor_est_in_2022_thousands"]/1000
in_visitor

C:\Users\Eva\anaconda3\envs\bootcamp\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

                 countryname  visitor_est_in_2022_thousands
0                New Zealand                        107.767
1                      Japan                          7.070
2                  Hong Kong                          6.144
3                  Singapore                         31.873
4                   Malaysia                          7.435
5                  Indonesia                          6.721
6                     Taiwan                          3.509
7                   Thailand                          4.762
8                      Korea                          8.288
9                      China                         17.219
10                     India                         41.837
11                Other Asia                         27.857
12  United States of America                         36.199
13                    Canada                         10.629
14            United Kingdom                         65.154
15                   Germany                         10.477
16               Scandinavia                          6.291
17                    France                          8.517
18                     Italy                          4.711
19               Netherlands                          4.386
20               Switzerland                          3.524
21              Other Europe                         17.855
22           Other Countries                         44.832

In [7]:
# Load it into database
in_visitor.to_sql(name="countryorigin", con=engine,if_exists="append",index=False)

## Table: CountryDestination

In [8]:
# load the survey data
path_nat = "../Resource/National_survey.xlsx"
out_visitor_df = pd.read_excel(path_nat,sheet_name="Table 18",skiprows=3,header=[0,1],nrows=27)

# Data cleaning to get Internation visitors outbound by Country: 
out_visitor_df.columns = ["_".join(col) for col in out_visitor_df.columns.values]
out_visitor_df.rename(columns={"Unnamed: 0_level_0_Visitors ('000)":"countryname",
                               "Year Ending December 2021_Unnamed: 2_level_1":"visitor_est_out_2021_thousands"},inplace = True)
out_visitor = out_visitor_df[["countryname","visitor_est_out_2021_thousands"]]

out_visitor

                     countryname visitor_est_out_2021_thousands
0                    New Zealand                        141.496
1                           Fiji                          6.753
2                  Other Pacific                          6.384
3                 United Kingdom                         13.544
4                          Italy                          0.941
5                         France                          1.727
6                        Germany                          1.227
7        Other North West Europe                          7.007
8                   Other Europe                          4.795
9                            USA                         15.978
10                        Canada                           1.97
11                 Other America                          2.125
12                        China*                          2.101
13                     Hong Kong                          1.314
14                         India                         10.117
15                         Japan                          2.577
16                     Indonesia                          1.895
17                      Thailand                           2.37
18                     Singapore                          5.829
19                      Malaysia                          1.042
20                      Viet Nam                             np
21                   Philippines                          0.667
22         Other South East Asia                          3.213
23                    Other Asia                         15.419
24  North Africa and Middle East                         13.262
25                  South Africa                          1.221
26                  Other Africa                          4.242

In [9]:
out_visitor = out_visitor.loc[out_visitor["visitor_est_out_2021_thousands"]!="np"]
out_visitor["visitor_est_out_2021_thousands"] = out_visitor["visitor_est_out_2021_thousands"].astype(float)
out_visitor.dtypes

C:\Users\Eva\anaconda3\envs\bootcamp\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

countryname                        object
visitor_est_out_2021_thousands    float64
dtype: object

In [10]:
# Load it into database
out_visitor.to_sql(name="countrydestination", con=engine,if_exists="append",index=False)